* {
  padding: 0px;
  margin: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: gradient 10s ease infinite;
  /* background-repeat: no-repeat; */
  background-size: 500% 200%;
  height: 100vh;
  overflow: hidden;
}

@keyframes loading {
  0% {
    opacity: 100%;
  }
  75% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    z-index: -999;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.dsite {
  text-decoration: none;
  cursor: pointer;
  color: white;
  border-radius: 20px;
  padding: 10px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  transition: transform 0.5s;
}

.dsite:hover {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  transform: translateX(20px);
  /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.26); */
}

/* ---------------- */
/* .menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
} */

/* ----------------- */

.nav {
  margin: 0px;
  padding: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.26);
  backdrop-filter: blur(20px);
  transition: background-color 5s;
  transition: box-shadow 2s;
}

.navbar-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  justify-content: space-between;
}

.navbar-atas {
  position: relative;
  height: auto;
  float: right;
}

.nav:hover {
  background-color: rgba(255, 255, 255, 0.308);
  backdrop-filter: blur(100px);
  box-shadow: 0px 0px 30px 0px black;
}

.navbar-brand2 {
  text-decoration: none;
  padding: 0px 10px;
  cursor: pointer;
  color: white;
  transition: font-weight 0.2s;
  transition: font-size 0.2s;
}

.navbar-brand2:hover {
  font-size: 25px;
  font-weight: bolder;
  color: white;
}

.welcome-page {
  width: 100%;
  margin-top: 2.5rem;
  height: 85vh;
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

.welcome-page-projects {
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.123);
  width: 100%;
  display: flex;
  border-style: groove;
  border-color: white;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  align-items: center;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.255);
  justify-content: center;
}

.content-h1 {
  font-size: 40px;
  /* height: auto; */
  color: white;
  font-weight: bold;
  margin: 0px;
}

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap'); */

.content-h1-projects {
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: white;
  font-weight: bold;
  margin: 0px;
}

.content-name {
  font-size: 35px;
  color: white;
}

.img {
  text-align: center;
  padding: 50px;
}

.content-1 {
  padding: 0 50px;
  width: 100%;
}

.content-1 p {
  color: white;
}

.content-1-projects {
  padding: 0 50px;
  width: 100%;
}

.photo {
  width: 60%;
  border-radius: 50px;
  box-shadow: 0px 0px 20px 0px black;
  animation: picture 5s ease infinite;
}

.bulet-1 {
  position: absolute;
  width: 100px;
  border-radius: 100%;
  height: 100px;
  animation: picture-2 3s ease infinite;
  opacity: 30%;
  background: linear-gradient(-60deg, rgb(255, 251, 0), white);
}

.bulet-3 {
  position: absolute;
  left: 80%;
  top: 10%;
  opacity: 50%;
  width: 100px;
  border-radius: 100%;
  height: 100px;
  animation: picture-2 2s ease infinite;
  background: linear-gradient(-20deg, rgb(255, 0, 255), white);
}

.bulet-2 {
  position: absolute;
  width: 100px;
  left: 75%;
  border-radius: 100%;
  height: 100px;
  animation: picture-3 2s ease infinite;
  background: linear-gradient(-45deg, cyan, white);
}

.bulet-4 {
  position: absolute;
  width: 150px;
  top: 65%;
  right: 30%;
  border-radius: 100%;
  height: 150px;
  animation: picture-3 1s ease infinite;
  background: linear-gradient(-90deg, rgb(255, 94, 0), white);
}

/* Bulet Projects */

.bulett-1 {
  position: absolute;
  width: 100px;
  z-index: -9;
  left: 10%;
  top: 60%;
  border-radius: 100%;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.24);
  height: 100px;
  animation: picture-2 3s ease infinite;
  opacity: 30%;
  background: linear-gradient(-60deg, rgb(255, 8, 0), white);
}

.bulett-3 {
  position: absolute;
  left: 10%;
  z-index: -9;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.24);
  top: 10%;
  opacity: 50%;
  width: 100px;
  border-radius: 100%;
  height: 100px;
  animation: picture-2 2s ease infinite;
  background: linear-gradient(180deg, rgb(255, 255, 255), rgb(229, 255, 135));
}

.bulett-2 {
  position: absolute;
  width: 100px;
  z-index: -9;
  left: 75%;
  border-radius: 100%;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.24);
  height: 100px;
  animation: picture-3 2s ease infinite;
  background: linear-gradient(-45deg, rgb(0, 16, 105), rgb(10, 207, 142));
}

.bulett-4 {
  position: absolute;
  width: 150px;
  top: 65%;
  z-index: -9;
  right: 30%;
  border-radius: 100%;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.24);
  height: 150px;
  animation: picture-3 10s ease infinite;
  background: linear-gradient(-20deg, rgb(204, 75, 0), rgb(255, 95, 215));
}

#bouncy-balls2 {
  z-index: -9;
}

/* End-Projects */

.border-content-1 {
  border: 1px solid rgb(63, 63, 63);
  padding-top: 10px;
  border-radius: 22px;
}

.footer {
  text-align: center;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.buttons2 {
  margin-top: 20px;
}

.dropdown-button {
  position: relative;
  display: inline-block;
}

.dropdown-button:hover .dropdown-content {
  display: block;
}

.dropdown-button .dropdown-content a:hover {
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.dropdown-content a {
  display: block;
  color: white;
  padding: 2px;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  border-radius: 10px;
  box-shadow: 0px 0px 90px 0px rgba(0, 0, 0, 0.507);
  position: absolute;
  border-style: outset;
  border-color: #23d5ab;
  min-width: 200px;
  z-index: 100;
  padding: 1px 5px;
}

.buttons {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  margin: 10px;
  padding: 12px;
  border-color: #23d5ab;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.507);
  border-radius: 15px;
  transition: transform 0.4s;
  transition: background-color 0.4s;
}

.buttons:hover {
  transform: scale(1.05);
  background-color: #23d5ab;
  /* box-shadow: 0px 0px 10px 0px black; */
  color: white;
}

.buttons:active {
  opacity: 50%;
  background-color: #23d5ab;
  color: white;
}

/* ---------------- */
.body2 {
  background: linear-gradient(-45deg, #ffd3c6, #23549e, #8f2626, #700286);
  animation: gradient 10s ease infinite;
  background-repeat: no-repeat;
  background-size: 500%;
  font-family: 'Poppins', sans-serif;
}

.buttons-projects {
  background-color: rgba(255, 255, 255, 0);
  color: black;
  padding: 12px;
  border-color: #86ffe3;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.507);
  border-radius: 15px;
  transition: transform 0.4s;
  transition: background-color 0.4s;
}

.buttons-projects:hover {
  transform: scale(1.05);
  background-color: #23d5ab;
  /* box-shadow: 0px 0px 10px 0px black; */
  color: white;
}

.buttons-projects:active {
  opacity: 50%;
  background-color: #23d5ab;
  color: white;
}

.cardd {
  border-radius: 1rem;
  height: 100%;
}

.card-text {
  font-size: 16px;
}

.card-projects {
  padding: 0px 10px;
  width: 100%;
  /* height: 100%; */
}

.projects-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
}

.card-img-top2 {
  padding: 2rem;
  width: 100%;
  text-align: center;
}

/* ----------------- */

.body3 {
  background: linear-gradient(45deg, #ff7a51, #3f1414);
  animation: gradient 10s ease infinite;
  /* background-repeat: no-repeat; */
  background-size: 500% 200%;
  font-family: 'Poppins', sans-serif;
}

.welcome-page-aboutme {
  margin: 30px;
}

.content-aboutme {
  display: flex;
  align-items: center;
}

.content-aboutme span {
  color: white;
  font-weight: 500;
  font-size: 36px;
}

.content-aboutme p {
  color: white;
  font-weight: 0px;
  font-size: 12px;
}

.photo2 {
  height: 90%;
  width: 35%;
  margin: 20px;
  border-radius: 50%;
  backdrop-filter: blur(20px);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.226);
}

.bulettt-2 {
  position: absolute;
  width: 100px;
  z-index: -9;
  opacity: 30%;
  left: 75%;
  border-radius: 100%;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.24);
  height: 100px;
  animation: picture-3 2s ease infinite;
  background: linear-gradient(-45deg, rgb(193, 203, 255), rgb(28, 255, 179));
}

.socmed-icon {
  font-size: 50px;
  padding: 0px 10px;
  color: white;
  transition: color 0.6s ease;
  text-decoration: none;
}

.socmed-icon:hover {
  font: size 50px;
  padding: 0px 10px;
  color: #23a6d5;
  text-decoration: none;
}

.skills {
  background-color: rgba(255, 255, 255, 0.24);
  backdrop-filter: blur(20px);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.24);
  border-radius: 25px;
  padding: 70px;
  justify-content: center;
}

.skills h1 {
  /* font-weight: ; */
  color: white;
  text-align: center;
}

.text-skills {
  color: white;
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}

.text-skills h3 {
  font-size: 20px;
}

.creativity-bar {
  width: 90%;
}

.leadership-bar {
  width: 82%;
}

.programming-bar {
  width: 80%;
}

.communication-bar {
  width: 84%;
}

.music-bar {
  width: 90%;
}

.progression {
  padding: 0px 70px;
}

.tools2 {
  margin: 40px;
}

.tools2 h1 {
  color: white;
  font-weight: bold;
}

.tools {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-tools {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 250px;
  height: auto;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  transition: box-shadow 0.5s ease;
}

#html:hover {
  box-shadow: 0px 0px 300px 0px rgb(255, 130, 13);
  cursor: pointer;
}

#css:hover {
  box-shadow: 0px 0px 300px 0px rgb(18, 128, 255);
  cursor: pointer;
}

.card-tools div {
  text-align: center;
  display: block;
}

.card-body-logo h5 {
  margin: 10px 0px;
}

.logo {
  width: 100px;
  height: auto;
}

/* My Journey */
.my-journey {
  margin: 50px;
}

.my-journey-head {
  font-size: 50px;
}

.content-myJourney {
  display: flex;
  margin: 40px 0px;
  justify-content: space-around;
}

.content-photo {
  padding: 0px 0px 0px 30px;
  color: white;
}

.content-photo p {
  font-size: 12px;
}

.content-title p {
  font-weight: bold;
  font-size: 13px;
}

.content-title span {
  font-style: italic;
}

.journey-photo {
  height: 200px;
  width: 200px;
  margin: 20px;
  border-radius: 50%;
  backdrop-filter: blur(20px);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.226);
}

@keyframes picture-3 {
  0% {
    margin-top: 50px;
    margin-left: 50px;
  }
  50% {
    margin-top: 0px;
    margin-left: 0px;
  }
  100% {
    margin-top: 50px;
    margin-left: 50px;
  }
}

@keyframes picture-2 {
  0% {
    margin-top: 0px;
    margin-left: 0px;
  }
  50% {
    margin-top: 50px;
    margin-left: 50px;
  }
  100% {
    margin-top: 0px;
    margin-left: 0px;
  }
}

@keyframes picture-responsive {
  0% {
    margin-right: 0px;
  }
  50% {
    margin-right: 50px;
  }
  100% {
    margin-right: 0px;
  }
}

@keyframes picture {
  0% {
    margin-top: 0px;
  }
  50% {
    margin-top: 50px;
  }
  100% {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 1000px) {
  .progress {
    width: auto;
    height: 1000%;
  }

  .text-skills h3 {
    font-size: 16px;
  }

  .body {
    overflow: visible;
    height: auto;
  }

  .body3 {
    margin: 0px;
  }

  .projects-cards {
    display: block;
    justify-content: space-evenly;
  }

  .card-projects {
    padding: 10px;
    width: 100%;
    height: auto;
    margin: 0px;
    align-self: center;
  }

  .cardd img {
    width: 100%;
  }

  .socmed-icon {
    font-size: 20px;
  }

  .photo {
    border-radius: 50px;
    box-shadow: 0px 0px 20px 0px black;
    margin-top: 20%;
    animation: picture-responsive 5s ease infinite;
  }

  #bouncy_balls {
    z-index: -5;
    opacity: 30%;
    top: auto;
    left: auto;
  }

  .navbar-atas {
    animation-play-state: paused;
  }

  .navbar-atas .navbar-brand2 {
    font-size: 15px;
    padding: 0px;
  }

  .welcome-page {
    height: auto;
    margin-top: 15%;
    margin-bottom: 20%;
  }

  .content-1 {
    animation: none;
  }

  .content-1 h1 {
    font-size: 70px;
  }

  .content-name {
    font-size: 35px;
  }

  .content-1 p {
    font-size: 20px;
  }

  .reversed {
    flex-flow: column;
  }

  .buttons2 {
    text-align: center;
    font-size: 20px;
  }

  .footer {
    margin: 20px;
    padding: 0px;
  }

  .footer p {
    margin: 0px;
  }

  .content-aboutme {
    display: block;
    justify-content: center;
  }

  .content-aboutme p {
    font-size: 12px;
  }

  .photo2 {
    width: 40%;
  }

  #bouncy_balls2 {
    z-index: -5;
    opacity: 30%;
    /* top: ; */
    left: auto;
  }

  .content-1-projects {
    padding: 0px;
  }

  .content-1-projects h1 {
    font-size: 20px;
  }

  .card-body h3 {
    font-size: 16px;
  }

  .card-text {
    font-size: 12px;
  }
  .buttons-projects {
    font-size: 12px;
  }

  .body3 {
    margin: 20px;
  }

  .dropdown-content a {
    text-align: left;
  }

  .content-myJourney {
    display: block;
  }

  .content-photo {
    font-size: 12px;
    padding: 0px;
  }

  .journey-photo {
    width: 40%;
    height: auto;
  }
}

@media only screen and (max-width: 500px) {
  .body {
    overflow: visible;
    height: auto;
  }

  .navbar-atas .navbar-brand2 {
    font-size: 15px;
    padding: 0px;
  }

  .photo {
    border-radius: 50px;
    box-shadow: 0px 0px 20px 0px black;
    margin-top: 20%;
    animation: picture-responsive 10s ease infinite;
  }

  .welcome-page {
    height: auto;
    margin-top: 15%;
    margin-bottom: 20%;
  }

  .content-1 h1 {
    font-size: 60px;
  }

  .content-name {
    font-size: 25px;
  }

  .content-1 p {
    font-size: 15px;
  }

  .reversed {
    flex-flow: column;
  }

  .dropdown-content {
    position: relative;
    margin-bottom: 20px;
  }
  .buttons2 {
    display: block;
    text-align: center;
    font-size: 16px;
  }

  .footer {
    margin: 20px;
    padding: 0px;
  }

  .footer p {
    margin: 0px;
  }

  #bouncy_balls {
    z-index: -5;
    opacity: 30%;
    top: auto;
    left: auto;
  }
}
